#projects {
    margin-top: 100px;
}

#projects-list {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-container {
    padding: 30px;
    margin: 30px;
    background: linear-gradient(37deg, rgba(157,154,241,1) 0%, rgba(113,199,238,1) 50%, rgba(26,104,211,1) 100%);
    border-radius: 30px;
    height: 575px;
    width: 450px;
    /* border-color: var(--secondary-color);
    border-width: 3px;
    border-style: outset; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container > img {
    width: 400px;
    height: 220px;
    object-fit: fill;
    border-radius: 30px;
    background-color: white;
    padding: 3px;
    border-color: var(--secondary-color);
    border-width: 5 px;
    border-style: solid;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

#projects h4 {
    font-size: 27px;
    margin: 20px;
}

#projects p {
    padding: 0;
    text-align: center;
    text-wrap: wrap;
    font-size: 18px;
}

.project-description {
    margin: 0;
}

.project-tech-stack {
    font-weight: bold;
    margin: 35px
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-links a {
    display: flex;
    align-items: center;
    color: black;
    background-color: rgba(255,255,255,0.85);
    border-radius: 30px;
    padding: 10px
}

.project-links a > img {
    width: 30px;
    height: 30px;
    padding-left: 20px;
}
